# Each line is a file pattern followed by one or more owners.
#
# Order is important. The last matching pattern has the most precedence.

# Documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

/** @DamienCassou @josquindebaz